.os {
    background-color: red;
    margin: 0 0 5px 0 ;
    text-align: center;
}

/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Ropa Sans', sans-serif;
*/
h1,h2,h3,h4,h5,.lead {
    font-family: 'Balsamiq Sans', cursive;
}

body {
    /*overflow: hidden; /* because section loading*/
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
  
}

.navbar-inverse .navbar-nav > li > a {
    color: #CCC;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*Brand*/
.navbar-inverse .navbar-brand {
    color: #888; 
    font-size: 30px;
    line-height: 40px;
}

.navbar-form {
    line-height: 3;
}




.navbar-toggle {
    margin-top: 20px;
}


.dropdown-menu {
 background: #333;
 min-width: 200px;
}

.dropdown-menu > li > a {
    
    color: #FFF;
    padding: 6px 20px;
    transition: padding 0.5s ease;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li a:focus{
    
    
    color:#FFF;
    padding-left: 25px;
}

.navbar {
    min-height: 70px;
}

.navbar-right .dropdown-menu {
    left:0;
    right: auto;
}

.navbar-inverse .navbar-brand span {
     
}

.carousel-caption {
    bottom: 20px;
    top: 90px;
    background: rgba(3, 3, 3, 0.4);
    padding-right: 20px;
    padding-left: 20px;
    line-height: 150px;
}
 

.carousel-inner > .item > img{ width: 100%;; height: 500px;}
/*------------------start section about------*/
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .lead {
    color: #888;
    font-size: 25px;
    margin-top: 15px;
}

.about h1 {

    font-weight: bold;
}

.about h1 span {
    
}

.about h3 span {
     
}

/*----------------------start feature------- */
.feature {
    background: #EEE;
    padding-top: 50px;
    padding-bottom: 50px;
}

.feature .feat {
    margin-bottom: 30px;
}

.feature .feat p{
    line-height: 2em;
}

.feature h1 {
    margin-bottom: 50px;
}
 
.feature .feat span.glyphicon {
    font-size: 25px;
    margin-bottom: 10px;
    color: #666;
}


/*---------------strat testimonials--------------*/
.testimonials {
    padding-top: 50px;
    padding-bottom:50px ;
}

.testimonials h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.testimonials .lead {
    line-height: 2em;
    margin-bottom: 10px;
}

.testimonials span {
    font-size: 18px;
    font-weight: bold;
     
}

.testimonials .carousel-inner {
    min-height: 160px;
}

.testimonials .carousel-indicators  {

    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;
}

.testimonials .carousel-indicators li {

    text-indent: 0;
    width: 80px;
    height: 80px;
    opacity: 0.5;
    border: 2px solid #FFF;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px;
    transition: all 0.5s ease;
} 


.testimonials .carousel-indicators li:active {

    width: 80px;
    height: 80px;
    opacity: 1;
    background: none;
}

.testimonials .carousel-indicators li img{

    max-width: 100%;
}

/*-----------start price table ------------*/
.price-table{

    background: #EEE;
    padding-top: 40px;
    padding-bottom: 40px;
}

.price-table h1{
    margin-bottom: 40px;
}

.price-table .price-box {
    background: #FFF;
    padding: 10px;
    border: 1px solid #DDD;
    margin-bottom: 15px;
}

.price-table .price-box h2{

    margin: 5px 0 15px;
}

.price-table .price-box:hover p{

    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
    border: 2px solid #DDD;
}

.price-table .price-box p{

    font-size: 35px;
    font-weight: bold;
    color:#666;
    width: 100px; 
    height: 100px;
    background: #f3f3f3;
    border-radius: 50%;
    line-height: 100px;
    border: 2px solid #FFF;
    -webkit-transition-duration:0.7s ;
    -moz-transition-duration:0.7s ;
    -o-transition-duration:0.7s ;
    transition-duration:0.7s ;
}

.price-table .price-box ul{

    line-height: 250%;
    font-size: 18px;
}

.price-table .price-box a{

    margin-bottom: 5px;
}

/*---------start our-team ----------*/
.our-team {
    background: url(../image/back5.jpg) no-repeat  center center fixed;
    background-size: cover;
    min-height: 400px;
}

.our-team .team {
    min-height: 400px;
    background: rgba(2, 2, 2, 0.7);
    color:#FFF;
    padding-top: 40px;
    padding-bottom: 40px;
}

.our-team h1 {
    margin-bottom: 60px;
}

.our-team p {
    color: #CCC;
}

.our-team .person {
    margin-bottom: 40px;
}

/*------start subscribe----------*/
.subscribe {
    padding-top: 40px;
    padding-bottom: 70px;
    background: #EEE;
}

.subscribe h1{
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.subscribe p{
    margin-bottom: 30px;
}

.subscribe .form-control {
    margin-right: -5px;
    width: 300px;
    border-radius: 0;
}

.subscribe button {
    border-radius: 0;
}

/*------------start statistics---------*/
.statistics {
    background: url(../image/back2000.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 300px;
}

.statistics .data {

    background: rgba(2,2,2,0.7);
    color: #B6B5B5;
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.statistics h1 {
    margin-bottom: 60px;
}

.statistics p {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0;

}

.statistics span {
    font-size: 18px;
}

.statistics .stats {

    transition: all 0.5s ease-in-out;
    margin-bottom:30px ;
}

.statistics .stats:hover {
    color: #FFF;
}

/*----------start our skills------*/
.our-skills {
    padding-top: 40px;
    padding-bottom: 70px;
}

.our-skills h1 {
    margin-bottom: 60px;
}

.our-skills h3 {
    font-weight: bold;
    margin-top: 0;
}

.our-skills .progress {
    height: 36px;
}

.our-skills .progress-bar {
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 12px;
}

/*----------contact-us-----------------*/
.contact-us {
    background: url(../image/back1.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 300px;
}

.contact-us .fields {
    background: rgba(9,9,9,0.7);
    min-height: 300px;
    color: #DDD;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-us p {
    margin-bottom: 40px;
}

.contact-us textarea {
    height: 108px;
}

.contact-us input[type="text"],
.contact-us textarea{
    background: rgba(82,78,78,0.5);
    color:#FFF;
    border: none;
}

/*----------section our client-------------*/

.our-client{
    background: #EEE;
    padding-top: 20px;
    padding-bottom: 20px;
}

.our-client img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
}

.our-client img:hover {
    opacity: 1;
}

/*-------------section footer---------------*/
.footer {
    background: #111;
    color: #AAA;
    padding-top: 20px;
}

.footer a{
    color: #AAA;
}

.footer a:hover {
    color: #FFF;
}

.footer h3 {
     letter-spacing: 1px;
     margin: 30px 0 20px;
}

.footer .three-colums {
    overflow: hidden;
}

.footer .three-colums li{
    width: 33.3333%;
    float: left;
    padding: 14px 0;
}

.footer .social-list {
    overflow: hidden;
    margin: 20px 0 10px 0 ;
}

.footer .social-list li {

    float: left;
    margin-right: 3px;
    opacity: 0.6;
    filter: alpha(opacity=70); /* opacity specialezed => internet explroler */
    transition: all 0.3s ease-in-out;
}

.footer .social-list li:hover {

    opacity: 1;
}

.footer .img-thumbnail {
    height: 100px;
    width: 150px;

    background: rgba(0,0,0,0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
}

.footer .copyrigth {
    background: #333;
    color: #AAA;
    padding: 15px  0 15px 0 ;
    margin-top: 20px;
    font-size: 18px;
}

.footer .copyrigth span {

}


/*-------------start section option-box -----------**/
.option-box {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9999;
}

.option-box .color-option {
    float: left;
    background: #333;
    color: #FFF;
    padding: 10px;
    width: 200px;
    display: none;
}

.option-box .color-option ul li {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
}

.option-box .gear-check {
    padding: 5px;
    color: #FFF;
    cursor: pointer;
}


/*-----------start section loading---------------*/
.loading-overlay{
    background: #222;
    color: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

#scroll-top {
    width: 50px;
    height: 50px;
    color:#DDDb;
    background: #777;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 10px 10px 10px 10px;
    display: none;
  }

  #scroll-top:hover {
      background: #444;
  }

/*--------- css spinner ---------------*/
/*
.sk-folding-cube {
    margin: 20px auto;
    width: 70px;
    height: 70px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);

            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }
  */

  /*-----------start section scroll top-------------*/
